.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 64px;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    padding-top: 16px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 1.25;
    max-width: 288px;
  }
}

