.cover {
  background-image: url(../../images/cover__background.jpg);
  background-size: cover;
  max-width: 1280px;
  background-position: center;
  margin: 0 48px;
}

@media screen and (max-width: 1279px) {
  .cover {
    margin: 0;
  }
}

@media screen and (min-width: 1281px) {
  .cover {
    margin: auto;
  }
}

